* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #00BFFF; */
  background: url("https://picsum.photos/1600/900");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
}
